{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une nouvelle tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.createdAt) }}
        {{ form_row(form.expiredAt) }}

        <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_task') }}">Retour à la liste des tâches</a>
{% endblock %}
